
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background:white;
    width:100%;
    overflow-x:hidden;
    
    
   
   
   
}
.container1{
    display:flex;
    height:101px;
    border-bottom:2px solid whitesmoke;
  
  background-color:white;
    justify-content:space-between;

}
@media screen and (max-width:1000px) and (min-width:500px) {
    body{
        background-color:pink;
       
    }
   
       
}
.logo{
    width:127px;
    height:30px;
    padding-top:35px;
    margin-left:120px;
    font-style:Gilroy;
    display:flex;
    text-align: center;
    justify-content: space-between;
}
.logo h2{
    color:#160141;
}
.logo span{
color:#FF7F56
}
.nav-bars{
    display:flex;
    height:18px;
    padding-top:41px;
   
   
    gap:20px;
}
  
.div-ul{
    display: flex;
    justify-content: space-between;
   flex-direction: row;
    font-size: 16px; 
    font-weight: bold;
    
    height:10px;
    margin-top:30px;
  margin-left:150px;
    gap:40px;
  
    align-items: center;
   
    
  }
  
  
  
  .pro{
    display:flex;
    gap:5px;
  }
  
  .pro img{
  text-align:center;
  padding-top:5px;
  
  }
  .rana{
    display:flex;
  }
  #sign-under{
    text-decoration: underline;
    }

    .div-ul  li a{
        color: rgb(32, 31, 31);
        text-decoration: none;
        list-style-type: none;
        font-family: "Poppins", serif;
      
      }
      .utube{
        display:flex;
        align-items:center;
        justify-content: space-between;
        
        height:50px;
        margin-top:50px;
        margin-left:280px;
       
        gap:15px;
       
       
        
      }
      .utube h6{
        color:#160141;
        
        font-size:16px;
        font-weight:bold;
        width:58px;
        height:18px;
       
      }
      .utube img{
        width:8px;
        height:9px;
      border-radius:20px;
        padding:5px 6px 5px 6px;
        gap:10px;
       background-color:#ffff;
       margin-right:120px;
      

      }
.part1{
    display:flex;
}
.image1{
    width:70.98px;
    height:73.22px;
    margin-top: 100.84px;
    rotation: 4.69em;
  
   
    padding-left:50px;
    margin-top:120px;
}
.image2{
   align-items:center;
   padding-top:39px;
    height:30px;
    position:absolute;
    right:10px;
    width:350px;
    display:flex;
    
   
}
.heading{
    height:231px;
    gap:40px;
    text-align:center;
}
.heading h1{
    color:#160141;
    height:55px;
    font-size: 54px;
    padding-left:140px;
    margin-top:50px;
 
}
.heading p{
   
    height:10px;
   border-radius:5px;
    padding:3px 5px 3px 5px;
    gap:5px;
     background: white;
    display: inline-block;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color:#160141;
    font-weight:600;
    margin-left:155px;
    
       

}

  .button{
    display:flex;
    width:150px;
    height:40px;
    border-radius:50px;
    padding:10px 24px 10px 24px;
    gap:15px;
    background-color: #713edd;
   
    margin-top:10px;
    text-decoration: none;
    margin-left:420px;
    
  }
  .button img{
    margin-top:10px;
  
  }
  .button .program{
    text-decoration: none;
   text-align:center;
  }
  .program{
    font-size:14px;
   align-items: center;
   padding-left:35px;
    color:#F4EFFC;
    width:62px;
    height:17px;
    padding-top:10px;
    padding-bottom:30px;
  }
.image3{
    text-align:right;
    position:absolute;
    top:180px;
    z-index:10;
    right:0;
   margin-bottom:70px;
   height:70px
}
.part2{
    display:flex;
    justify-content: space-between;
}
.part2 img{
   
   
}

   
  
.info-box {
    display: flex;
    align-items: center;
   margin-right: 150px;
    gap: 10px;
   padding-top:40px;
    font-size: 14px;
    color: #333;
    width:550px;
  
   
   
}

.red-line {
    display: flex;
    justify-content: space-between;
   margin-top:20px;
    width: 20px;
    height: 3px;
   
}
.info-box p{
    color:#160141;
    font-size:14px;
    padding-top:90px;
    padding-right: 20px;
}

.stats-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.stat-item {
    display: flex;
    align-items: flex-start; 
    gap: 15px;
    background: transparent;
    position: relative;
}

.stat-icon {
   
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.stat-icon1{
    margin-left:110px;
    width:200px;
    text-align:right;
    padding-left:50px;
}

.icon-img {
   
}
.middle{
    width:600px;
}

.stat-content {
    display: flex;
    flex-direction: column;
}

.top-row {
   width:250px;
    align-items: flex-start;
    gap: 12px;
}
.top-row h2{
    width:20px;
}
.stat-content h2 {
    margin: 0;
    font-size: 29px;
    font-weight: 700;
    color: #2d0c47;
    line-height: 65px;
}

.stat-content p {
    margin: 5px 0 10px;
    font-size: 14px;
    color: #66538e;
    max-width: 220px;
}
.arrow{
    text-align:left;
    width:150px;
    padding-top:50px;
}

.arrow-img {
   
   width:60px;
   height:50px;
   
   
}

.bottom-section {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-top: 10px;
    margin-left: 45px; 
}

.stat-item:last-child {
    margin-top: 20px;
}
.gr{
    text-align:right;
}
.grp{
    padding-top:30px;
}
.boy{
    width:350px;
    height:350px;
}
.boy-img{
    width:386px;
    height:386px;
    
}
.footer{
    display:flex;
    justify-content: space-between;

}
.ftimage1{
    width:42.82px;
    height:46px; 
    align-items:center;
   margin-left: 390px;
   rotate:3.42 deg;
   color:#160141;
}
.ftimage2{
    
    margin-top:50px;
  
    color:#160141;
  
}
.ftimage2 img{
    margin-right:40px;
}